<!DOCTYPE html>
<html>
<head>
<title>Teacher Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Teacher Dashboard</h1>

<h3>Teacher Portal</h3>

<ul>

<li><a href="/attendance">Mark Attendance</a></li>

<li><a href="/assignments">Upload Assignments</a></li>

<li><a href="/marks">Upload Internal Marks</a></li>

<li><a href="/timetable">View Timetable</a></li>

<li><a href="/events">View Events</a></li>

<li><a href="/announcements">View Announcements</a></li>

</ul>

<br>

<a href="/">Logout</a>

</body>
</html>